[user]
    name = "Chris O'Neil"
    email = chriso83@protonmail.com
[pager]
    diff =
[core]
    editor = vim
[web]
    browser = google-chrome
[color]
    ui = true
[github]
    user = jacderida
[merge]
    tool = mymeld
    conflictstyle = diff3
[mergetool "mymeld"]
    cmd = meld $LOCAL $BASE $REMOTE -o $MERGED --diff $BASE $LOCAL --diff $BASE $REMOTE
[alias]
    st = status
    ci = commit
    co = checkout
    di = diff
    dc = diff --cached
    amend = commit --amend
    aa = add --all
    ff = merge --ff-only
    pullff = pull --ff-only
    noff = megrge --no-ff
    fa = fetch --all
    pom = push origin master
    b = branch
    ds = diff --stat=160,120
    dh1 = diff HEAD~1

    # Fancy logging
    # h = head
    # hp = head with patch
    # r = recent commits, only current branch
    # ra = recent commits, all reachable refs
    # l = all commits, only current branch
    # la = all commits, all reachable refs
    head = !git l -1
    h = !git head
    hp = "!. ~/.githelpers && show_git_head"
    r = !git l -30
    ra = !git r --all
    l = "!. ~/.githelpers && pretty_git_log"
    la = !git l --all
