[user]
    name = "Chris O'Neil"
    email = chriso83@protonmail.com
[core]
    editor = nvim
    pager = delta
[web]
    browser = google-chrome
[color]
    ui = true
[github]
    user = jacderida
[merge]
    tool = mymeld
    conflictstyle = diff3
[mergetool "mymeld"]
    cmd = meld $LOCAL $BASE $REMOTE -o $MERGED --diff $BASE $LOCAL --diff $BASE $REMOTE
[alias]
    st = status
    ci = commit
    aa = add --all
    pom = push origin master
    prlog = log --format=format:\"- %h **%s**%n%n%w(0,2,2)%b\" --reverse origin/HEAD..HEAD
[interactive]
    diffFilter = delta --color-only
[delta]
    line-numbers = true
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
